html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents horizontal scroll */
}

.button {
  width: 100%;
  background-color: #7aa2e3;
  color: white;
  font-weight: 500;

  border: none;
  border-radius: 10px;

  padding: 10px 12px;
  cursor: pointer;

  transition: 0.2s ease;
}

.button:hover {
  background-color: #6a92d6;
}

.card {
  width: 100%;
  max-width: 420px;

  padding: 1rem;

  background-color: #f8f9fa;

  border-radius: 20px;
  border: 6px solid #7aa2e3;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  z-index: 1;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;
}

.page-sky {
  background-color: #ACDFFA;
}

.page-header {
  color: #7aa2e3;
  font-weight: 600;
}

.page-title {
  color: #2f5ca5;
  font-weight: 800;
}

.page-text {
  color: #7aa2e3;
  font-weight: 400;
}

.link-color {
  color: #7aa2e3
}

.card-large {
  width: 100%;
  max-width: 560px;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: 6px solid #7aa2e3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.trait-badge {
  background-color: #d6eaff;
  color: #4a7cc7;
  border-radius: 20px;
  padding: 4px 14px;
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block; /* ensures proper spacing */
}

.card-row {
  display: flex;
  justify-content: center;     /* center the whole row */
  align-items: flex-start;     /* align tops of cards */
  gap: 30px;                   /* space between cards */
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}